<include file="common/common" />
<body class="childrenBody">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
  <legend>
  	<label style="font-size: 15px; color: red;">加盟资料完善</label>&nbsp;
  	<a class="layui-btn layui-btn-normal layui-btn-mini" href="{:U('member/index')}">返回列表</a>
  </legend>
</fieldset>
	<form class="layui-form" id="test-form" action="{:U('member/addSchool/'.$uid.'-post')}" enctype="multipart/form-data">
		<div class="layui-form-item">
		    <label class="layui-form-label" >UID</label>
		    <div class="layui-input-block">
		    	<input name="uid" type="text" value="{$uid}" disabled class="layui-input layui-disabled">
		    </div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">机构名称</label>
			<div class="layui-input-block">
			<input type="text" name="name" class="layui-input username" placeholder="请输入机构名称">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">法人</label>
			<div class="layui-input-block">
			<input type="text" class="layui-input username" name="ceo" placeholder="请输入法人姓名">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">机构电话</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input phone " name="tel" placeholder="请输入机构电话">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">营业执照</label>
			 <input  type="file"  class="layui-btn layui-btn-primary"/>
			
		</div>
		
		
		<div class="layui-form-item">
			    <label class="layui-form-label">机构地址</label>
			    <div class="layui-input-inline">
	                <select name="province" >
	                    <option value="">请选择省</option>
	                </select>
	            </div>
	            <div class="layui-input-inline">
	                <select name="city">
	                    <option value="">请选择市</option>
	                </select>
	            </div>
	            <div class="layui-input-inline">
	                <select name="area">
	                    <option value="">请选择县/区</option>
	                </select>
	            </div>
	            <div class="layui-input-inline">
	                <select name="town">
	                    <option value="">请选择镇/街道</option>
	                </select>
	            </div>
		</div>
		<input type="hidden" name="formhash" value="{$this->formhash()}">
		<div class="layui-form-item">
			<label class="layui-form-label">街道</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input phone " name="address">
			</div>
		</div>	
		<div class="layui-form-item">
			<label class="layui-form-label">机构简介</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入内容" class="layui-textarea" name="summery" form="test-form"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn submit" type="button">添加</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
<resource type="js" name="add" time="3">
	  <file src="admin/add" />
</resource>
</bdoy/>
</html>
        