<include file="common/common" />
<body  class="childrenBody">          
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
  <legend>
  	<label style="font-size: 15px; color: red;">用户详情展示</label>&nbsp;

  	<a class="layui-btn layui-btn-normal layui-btn-mini" href="{:U('member/index')}">返回列表</a>
  	
  </legend>
</fieldset>
<div class="layui-tab"  style="margin-top: 2px;">
  <ul class="layui-tab-title">
  <!--{if $data['list'][0]['type']==0}-->
    <li  class="layui-this">个人信息</li>
   <!-- {else if $data['list'][0]['type']==1}-->
     <li  class="layui-this">个人信息</li>
    <li>机构信息</li>
   <!--{/if}-->
  </ul> 
  <div class="layui-tab-content" >
    <div class="layui-tab-item layui-show" style="margin-top:70px;">
	 <!--{loop $data['list'] as $key}-->
    <form class="layui-form" style="width:70%;" id="test-form" action="{:U('member/show/'.$key['uid'].'-post')}">
    	<div class="layui-form-item">
		    <label class="layui-form-label" >UID</label>
		    <div class="layui-input-block">
		    <input type="text" value="{$key['uid']}" class="layui-input layui-disabled" disabled>
		    </div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">真实姓名</label>
				<div class="layui-input-block">
				<input type="text" class="layui-input username" value="{$key['realname']}" name="realname">
				</div>
			</div>
		<div class="layui-form-item">
			<label class="layui-form-label">年龄</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input phone " value="{$key['age']}" name="age">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">身份证号</label>
			<div class="layui-input-block">
				<input type="text" lay-verify="required" class="layui-input phone " name="idcard" value="{$key['idcard']}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-block">
				<input type="email" name="email" class="layui-input email" value="{$key['email']}" >
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">微信</label>
			<div class="layui-input-block">
				<input type="text" name="openid" class="layui-input phone" value="{$key['openid']}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">QQ</label>
			<div class="layui-input-block">
				<input type="text" name="qq" class="layui-input phone " value="{$key['qq']}">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">家庭住址</label>
			 	<div class="layui-input-block">
				<input  value="{$key['district']}{$key['address']}" class="layui-input layui-disabled" disabled>
				</div>

			    <!--<label class="layui-form-label">家庭住址</label>
			    <div class="layui-input-inline">
	                <select name="province" >
	                    <option value="">请选择省</option>
	                </select>
	            </div>
	            <div class="layui-input-inline">
	                <select name="city">
	                    <option value="">请选择市</option>
	                </select>
	            </div>
	            <div class="layui-input-inline">
	                <select name="area">
	                    <option value="">请选择县/区</option>
	                </select>
	            </div>-->
			</div>
		<!--<div class="layui-form-item">
			<label class="layui-form-label">街道</label>
			<div class="layui-input-block">
				<input type="text" name="address" class="layui-input phone " value="{$key['address']}">
			</div>
		</div>-->
		<div class="layui-form-item">
			<label class="layui-form-label">注册ip</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input layui-disabled" value="{$key['ip']}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">注册时间</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input layui-disabled" value="{date('Y-m-d',$key['dateline'])}">
			</div>
		</div>
		<!-- {if $data['list'][0]['type']==0} -->
			<!-- {if $data['list'][0]['sid']==0} -->
		<div class="layui-form-item">
			    <label class="layui-form-label">所属机构</label>
			    <div class="layui-input-inline">	
						<select name="sid" class="userGrade" lay-filter="userGrade">
							<option value="">请选择</option> 
							<!--{loop $results['list'] as $k}-->
							<option value="{$k['sid']}">{$k['name']}</option> 
							 <!--{/loop}-->
					  </select>   
	        </div>
	   </div>
	  	 <!-- {else} -->
	   	<div class="layui-form-item">
			<label class="layui-form-label">所属机构</label>
			<div class="layui-input-block">
				<input type="text" disabled class="layui-input layui-disabled" value="{$school[0]['name']}">
			</div>
		</div>
	   	<!-- {/if} -->
	   <!-- {/if} -->
	   <input type="hidden" name="formhash" value="{$this->formhash()}">
		<div class="layui-form-item">
			<label class="layui-form-label">个人简介</label>
			<div class="layui-input-block">
				<textarea id="test" class="layui-textarea" name="summery" form="test-form"></textarea>
			</div>
			<script>
			document.getElementById("test").value="{$key['summery']}";
			</script>
		</div>
		<!--{if $_SESSION['roleid']!=5}-->
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn  submit " type="button">保存</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
		<!--{/if}-->
		</form>
    <!--{/loop}--> 	
    </div>

    <!--机构信息 -->
    {if $data['list'][0]['type']==1} 
    <div class="layui-tab-item" style="margin-top:70px;">
    	<!--{loop $result['list'] as $key}-->
    	<form class="layui-form" style="width:70%;" id="school-form" action="{:U('member/show/'.$uid.'-add')}">
				<input type="hidden" name="formhash" value="{$this->formhash()}">
				<div class="layui-form-item">
					<label class="layui-form-label">机构名称</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input username" name="name" value="{$key['name']}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">法人</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input username" name="ceo" value="{$key['ceo']}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">机构电话</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input phone " name="tel" value="{$key['tel']}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">营业执照</label>
					<label class="layui-btn layui-btn-primary">
					<input style="display:none;" type="file" />选择文件</label>
					
				</div>
		
				<div class="layui-form-item">
					<div class="layui-input-block">
						<input  value="{$key['district']}{$key['address']}" class="layui-input layui-disabled" disabled>
					</div>
					    <!--<label class="layui-form-label">机构地址</label>
					    <div class="layui-input-inline">
			                <select name="province" >
			                    <option value="">请选择省</option>
			                </select>
			            </div>
			            <div class="layui-input-inline">
			                <select name="city">
			                    <option value="">请选择市</option>
			                </select>
			            </div>
			            <div class="layui-input-inline">
			                <select name="area">
			                    <option value="">请选择县/区</option>
			                </select>
			            </div>-->
					</div>
		<!--<div class="layui-form-item">
			<label class="layui-form-label">街道</label>
			<div class="layui-input-block">
				<input type="text" name="address" class="layui-input phone " value="{$key['address']}">
			</div>
		</div>-->
		<div class="layui-form-item">
			<label class="layui-form-label">机构简介</label>
			<div class="layui-input-block">
				<textarea id="text" class="layui-textarea" name="summery" form="school-form"></textarea>
			</div>
			<script>
			document.getElementById("text").value="{$key['summery']}";
			</script>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">申请时间</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input layui-disabled" value="{date('Y-m-d',$key['dateline'])}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">过期时间</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input layui-disabled" value="{date('Y-m-d',$key['dateout'])}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">更新时间</label>
			<div class="layui-input-block">
					{if $key['update']!=null}
					<input type="text" class="layui-input layui-disabled" value="{date('Y-m-d',$key['update'])}">
					{else}
					<input type="text" class="layui-input layui-disabled" value="{$key['update']}">
					{/if}
				
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">学生数量</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input layui-disabled" disabled name="volume" value="{$key['volume']}">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">级别</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input layui-disabled" value="{$key['level']}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">点赞量</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input layui-disabled" value="{$key['like']}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">收藏量</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input layui-disabled" value="{$key['fav']}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
			{if $key['stats']==0}
				<input type="text" class="layui-input layui-disabled" value="审核中">
			{else if $key['stats']==1}
			<input type="text" class="layui-input layui-disabled" value="审核未通过">
			{else if $key['stats']==2}
			<input type="text" class="layui-input layui-disabled" value="审核通过">
			{/if}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">排序</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input layui-disabled" value="{$key['order']}">
			</div>
		</div>
		<!--{if $_SESSION['roleid']!=5}-->
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn submit1" type="button">保存</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
		<!--{/if}-->
	</form>
	<!-- {/loop} -->
    </div>
    {/if}
  </div>
</div>
      
<script src="{$this->dir}/public/js/layui/layui.js"></script>	
<resource type="js" name="test" time="2">

  <file src="admin/add" />
</resource>

</body>
</html>