<include file="common/header" />
	<div class="backpack">
		<!--{if empty($data['list'])}-->
		<div class="build">
			<span></span>
			<p>暂无数据~</p>
		</div>
		<!--{else}-->
		<div class="tab-all">
			<div class="depot_list">
				<form class="form_buy" action="{:U('manage/buy/del')}" method="post">
					<input type="hidden" name="formhash" value="{$this->formhash()}" />
					<ul>
						<li class="li_head">
							<span>购买类型</span>
							<span>名称</span>
							<span>价格</span>
							<span>购买时间</span>
							<span>操作</span>
						</li>
						<!--{loop $data['list'] as $key}--> 
						<li class="li_cont" data-id="{$key['id']}">
							<span>{$key['type']}</span>
							<span>{$key['name']}</span>
							<span>{$key['price']}</span>
							<span>{date('Y-m-d',$key['dateline'])}</span>
							<span class="delete_btn"><a class="btn">删除</a></span>
						</li>
						<!--{/loop}-->
					</ul>
				</form>
				<div class="ma-pager">
					<a href="{:U('manage/buy')}" class="btn pjax">首页</a>
					<a class="btn prev-page">上一页</a>
					<!--{for $i=1;$i <= $data['total'];$i+=1}-->
					{if $data['page'] == $i}
					<a class="btn open">第{$i}页</a>
					{else}
					<a class="btn pjax" href="{:U('manage/buy/-'.$i)}">第{$i}页</a>
					{/if}
					<!--{/for}-->
					
					<a class="btn pjax next-page">下一页</a>
					<a id="next-num" href="{:U('manage/buy/-'.$data['total'])}" class="btn pjax">尾页</a>
				</div>
			</div>
		</div>
		<!--{/if}-->
	</div>

<include file="common/footer" />
