<!--{if $_G['user']['uid']}-->
<include file="common/header" />
	
	<!-- {loop $data['list'] as $key} -->
	<form id="manageBox" action="{:U('manage/index/post')}" method="post">
		<label class="col col_l">
			<span>用户名*</span>
			<input type="text" name="username" placeholder="请输入用户名" value="{$key['username']}" />
			<i></i>
		</label>
		<label class="col">
			<span>手机号*</span>
			<input  type="tel" maxlength="11" name="tellphone"  value="{$key['phone']}"/>
			
		</label>
		<label class="col col_l">
			<span>姓名*</span>
			<input type="text" name="realname"  value="{$key['realname']}"/>
		</label>
		<label class="col">
			<span>身份证*</span>
			<input type="text" name="idcard"  value="{$key['idcard']}"/>
			
		</label>
		<label class="col col_l">
			<span>微信*</span>
			<input type="text" name="openid" placeholder="请输入微信账号" value="{$key['openid']}"/>
		</label>
		<label class="col q">
			<span>QQ*</span>
			<input type="number" name="qq" placeholder="请输入常用QQ账号" value="{$key['qq']}"/>
		</label>
		
		<label class="col col_l">
			<span>家长姓名*</span>
			<input type="text" name="parents" placeholder="请输入家长姓名" value="{$key['parents']}"/>
		</label>
		<label class="col">
			<span>家长电话*</span>
			<input type="tel" maxlength="11" name="parents_phone" placeholder="请输入家长电话" value="{$key['parents_phone']}"/>
		</label>
		
		<label class="col col_l">
			<span>邮箱*</span>
			<input type="text" name="email" placeholder="请输入常用邮箱账号" value="{$key['email']}"/>
			
		</label>
		<label class="col">
			<span>注册ip*</span>
			<input type="text" name="ip"  value="{$key['ip']}" disabled/>
			
		</label>
		
		
		<!-- {if $key['type']==0} -->
		<label>
			<span style="float:none">选择合作机构*</span>
			<span  class="vs-district subsite" style="max-width: 150%;float: none;height:auto;" >
				<span class="target">
					<!-- {if $key['sid']==0} -->
					<p style="color: red;"> 注:机构加盟此项可不必选择</p>
					<a class="cur" data='choose'>请选择</a><span class="into_btn" style="margin-left: 20px;">进入了解个琴行</span>
					<ul>
						<!-- {if !empty($school['list'])} -->
						<!-- {loop $school['list'] as $k} -->
						<li data="{$k['sid']}">{$k['name']}</li>
						<!-- {/loop} -->
						<!--{else}-->
						<li data="0">维颂科技</li>
						<!--{/if}-->
					</ul>
					<!-- {else} -->
					<input type="text" disabled class="inputsid"  value="{$edu[0]['name']}"/>
					<!-- {/if} -->
				</span>
			</span>
		</label>
		<!-- {/if} -->
		
		<span style="display:block;">所在地址*</span>
		<!-- {if $key['province']} -->

		<span class="vs-district address" value="{getDistrict($key)}" ></span>
		<!-- {else} -->
		<span class="vs-district address"></span>
		<!-- {/if} -->
		<label class="address_l">
			<input type="text" name="address" placeholder="请输入街道及门牌号" value="{$key['address']}"/>
		</label>
		<label class="personinfo">
			<span>个人简介*</span>
			<textarea form="manageBox" maxlength="100" name="summery" placeholder="请输入个人简介（100字以内）">{$key['summery']}</textarea>
			<span class="words">0/100字</span>
		</label>
		<div><span id="manageSubmit" class="mbtn"/>保存</span></div>	
	</form>
	<!-- {/loop} -->
	<div class="show-block">
		<span class="close-show-block"></span>
		<div class="show-info-school" style="text-align: center;">
			<!-- {loop $school['list'] as $k} -->
			<a onclick="window.open('{:U('../subsite/home/index/'.$k['uid'])}')">
				<div class="show-infos">
					<div class="show-infos-img">
						<img src="{$_G['dir']}public/images/member/school-infos.png"/>
					</div>
					<div class="show-infos-name">{$k['name']}</div>
					<div class="show-infos-adress">{$k['district']}</div>
					<div class="show-infos-fo">了解详情</div>
				</div>
			</a>
			<!--{/loop}-->
			
			
		</div>
	</div>
<include file="common/footer" />
<!--{else}
{_ header('location:'.$this->url('../main/common/login'))}
{/if}-->