<include file="common/common" />
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
	回收站数据
	<div class="layui-inline" align="right">
	&nbsp;
	<a class="layui-btn layui-btn-normal " href="{:U('recharge/index')}">返回</a>
	</div>
</blockquote>
<div class="layui-form news_list">
<table class="layui-table">
<thead>
	<tr>
		<th>UID</th>
		<th>充值方式</th>
		<th>充值金额</th>
		<th>充值时间</th>
	</tr> 
</thead>
<tbody class="users_content">
 <!--{loop $data['list'] as $key}-->
	<tr>
		<td>{$key['uid']}</td>
		{if $key['way']==0}
		<td>微信</td>
		{else if $key['way']==1}
		<td>支付宝</td>
		{/if}
		<td>{$key['amount']}</td>
		<td>{date('Y-m-d H:m:s',$key['time'])}</td>
	</tr>
	<!-- {/loop} -->
</tbody>
</table>
</div>

<div id="page" style="text-align: center;">	
	<!--{for $i=1;$i <= $data['total'];$i+=1}-->
	{if $data['page'] == $i}
	<a class="btn checked">第{$i}页</a>
	{else}
	<a class="btn pjax" href="{:U('recharge/deleted/'.$i)}">第{$i}页</a>
	{/if}
	
	<!--{/for}-->
</div >
<resource type="js" name="show" time="30">
  <file src="admin/show" />
</resource>
	
</body>
</html>