<include file="common/common" />
<body class="childrenBody">
	<form  id="study-form" class="layui-form" style="width:80%;" action="{:U('study/add/post')}">
		<div class="layui-form-item">
			<label class="layui-form-label">添加教学</label>
			<div class="layui-input-block">
			<input  name="name"  type="text" class="layui-input userName"   placeholder="请输入教学名称">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">等级</label>
			<div class="layui-input-block">
			<input type="text"  name="level" class="layui-input userEmail"  placeholder="请输入等级">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">价格</label>
			<div class="layui-input-block">
				<input name="price" type="text" class="layui-input userEmail" placeholder="请输入价格">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="button"   class="submit layui-btn" lay-submit="">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary"><a href="{:U('study/index')}">返回</a></button>
		    </div>
		</div>
	</form>
	<resource type="js" name="add" time="3">
	  <file src="admin/add" />
	</resource>
</body>
</html>