<?php $_G['is_school_session'] = $this->cookie('is_school_session');
	  $_G['school_stats'] = $this->cookie('school_stats');
?>
{if !$this->pjax}<!doctype html>
<!--[if !IE]><!--><html class="w3c" {if in_array($_G['page'],array('index'))}_manifest="{:U('home/cache/'.$_G['page'])}"{/if}><!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{isset($_G['title'])?$_G['title']:$this->lang('vs_title')} - {lang vs_name} {lang vs_version}</title>

<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no" />
<meta name="MSSmartTagsPreventParsing" content="True" />
<meta http-equiv="MSThemeCompatible" content="Yes" />

<!--针对移动端-->
<meta itemprop="name" content="VSong.view - Demo">
<meta itemprop="description" content="VSong.view - Demo">
<meta itemprop="image" content="">

<meta property="og:url" content="">
<meta property="og:type" content="article">
<meta property="og:title" content="VSong Execute - Demo">

<meta property="og:image" content="">
<meta property="og:description" content="VSong.view - Demo">
<meta property="og:site_name" content="VSong.view - Demo">

<meta name="theme-color" content="#00a09d">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#00a09d">

<resource type="css" name="member" time="3">
	<file src="reset" />
	<file src="global" />
    <file src="main/style" />
    <file src="member/style" />
</resource> 
<link rel="shortcut icon" href="{$_G['dir']}favicon.ico">
</head>
<!--<?php
	
	$nav = array(
		'index'		=> '首页',
		'summary'	=> '公司简介',
		'download'	=> '下载',
		//'help'		=> '帮助'
	);
	$nav2 = array(
	
		'manage'	=> '个人中心',
		//'recharge'	=> '充值',
		'index'		=> '加盟',
		//'setting'	=> '设置',
		'school'	=> '管理中心',
		
	);
	$nav3 = array(
	
		'study'		=> '学习记录',
		'index'		=> '常用资料',
		//'depot'		=> '仓库管理',
		'buy'		=> '购买记录',
		'pay'	=> '充值记录',
		//'count'		=> '统计信息'
	);
	
	if($_G['user']['type'] == 1  && $_G['school_stats']==2){
		unset($nav2['index']);
	}
	else if($_G['user']['type'] == 1 && $_G['school_stats']!=2){
		unset($nav2['school']);
	}else if($_G['user']['type'] == 0){
		unset($nav2['school']);
	}
?>-->
<body loading="500" mod="{$_G['mod']}" page="{$_G['page']}" app="{APP}">
	<div class="fxd full" id="loading"></div>
	<header>
	<div class="warp justify">
			<a class="logo flt-l" href="{:U('../')}" ></a>
		<nav  class="mainNav">
			<!--{loop $nav as $key => $value}-->
			<a class="btn {$key}" href="{:U($key=='summary'?'home/'.$key:'../main/home/'.$key)}">{$value}</a>
			<!--{/loop}-->
		</nav>
		
		<!--{if (!empty($_G['user']['uid']))}-->
		<nav class='memberNav'>
			<a class="btn mobile_index_nav" href="{:U('../mobile')}">首页</a>
			<!--{loop $nav2 as $key => $value}-->
			<!-- {if isset($_G['is_school_session']) && $key=='school'} -->
			<a class="btn {$key}" href="{:U('../../school/home/index')}" title="{$key}">{$value}</a>	
			<!-- {else} -->
			<a class="btn pjax {$key}" href="{:U($key=='manage'?$key.'/study':'home/'.$key)}">{$value}</a>
			<!-- {/if} -->
			<!--{/loop}-->
			
			<a class="btn changePsw">修改密码</a>
			<a class="btn ts logout">退出</a>
			
		</nav>
		<!--{/if}-->
	</div>
	 <div class="slogan">
		<img src="{$_G['dir']}public/images/member/s_logo.png">
		<p>维颂，赢在音乐的起跑线</p>
	</div>
	</header>
<main>
    <div class="warp">
    	<div>
	    <aside type="userinfo">
			<div>
				 <i class="icon icon-gender" gender="{$_G['user']['gender']}"></i>	
				 <i size="16" class="icon icon-gender" gender="{$_G['user']['gender']}"></i>	
				<a class="avatar pjax" href="{:U('manage/index')}">
					
					<img src="{:U('../avatar/big/'.$_G['user']['uid'])}"/>
				</a>
			</div> 
			<div>{if $_G['user']['uid']}UID: {$_G['user']['uid']}{else}游客{/if}</div>
		
			<aside type="manage">
				<!--{loop $nav3 as $key => $value}-->
<!--				<a class="btn pjax {$key}" href="{:U('manage/'.$key)}"><i class="icon manage-{$key}"></i>{$value}</a> -->
				 <a class="btn pjax {$key}" href="{:U('manage/'.$key)}"><i class="icon_m manage-{$key}" size='45'></i>{$value}</a>
				<!--{/loop}-->
			</aside>
		</aside>
		</div>
		<div class="cont">
			<div id="container">
				
{/if}