<include file="common/header" />
<div>
<i class="icon_m manage-pc" size="50"></i>
<i class="icon_m manage-android" size="50"></i>
<i class="icon_m manage-ios" size="50"></i>
<i class="icon_m manage-ipad" size="50"></i>
<i class="icon_m manage-study" size="45"></i>
<i class="icon_m manage-index" size="45"></i>
<i class="icon_m manage-depot" size="45"></i>
<i class="icon_m manage-buy" size="45"></i>
<i class="icon_m manage-pay" size="45"></i>
<i class="icon_m summary-game"></i>
<i class="icon_m summary-teach"></i>
<i class="icon_m summary-practice"></i>
<i class="icon_m add" size="22"></i>
<i class="icon_m refresh" size="25"></i>
<i class="icon_m airplane_l"></i>
<i class="icon_m airplane_r"></i>





</div>
<include file="common/footer" />