<include file="common/common" />
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
	<div class="layui-inline">
		<div class="layui-input-inline">
			<input type="text" value="" disabled placeholder="暂时未开放"  class="layui-input search_input">
		</div>
		<a class="layui-btn search_btn">查询</a>
	</div>
	<div class="layui-inline">
		<a class="layui-btn layui-btn-normal usersAdd_btn">添加练习</a>
	</div>
</blockquote>
<div class="layui-form news_list">
	<table class="layui-table">
		<thead>
		<tr>
			<th>id</th>
			<th>教学名称</th>
			<th>链接地址</th>
			<th>等级</th>
			<th>操作</th>
		</tr>
		</thead>
		<li>
		<!--{loop $data['list'] as $key}-->
		<tbody class="users_content">
		<tr>
			<td>{$key['id']}</td>
			<td>{$key['name']}</td>
			<td>{$key['link']}</td>
			<td>{$key['level']}</td>
			<td>
				<a href="{:U('train/update/'.$key['id'])}" class="layui-btn layui-btn-mini">修改</a>
				<a href="{:U('train/delete/delete-'.$key['id'])}" onclick="return confirm('确认是否删除?');" class="layui-btn layui-btn-normal layui-btn-mini">删除</a>
				
			</td>
		</tr>
		</tbody>
	<!--{/loop}-->
	</table>
</div>
<div id="page" style="text-align: center;">	
	<!--{for $i=1;$i <= $data['total'];$i+=1}-->
	{if $data['page'] == $i}
	<a class="btn checked">第{$i}页</a>
	{else}
	<a class="btn pjax" href="{:U('train/index/'.$i)}">第{$i}页</a>
	{/if}
	
	<!--{/for}-->
</div >
<resource type="js" name="show" time="30">
	<file src="admin/show" />
</resource>

</body>
</html>