<include file="common/header" />
	<div class="details">
		<include file="common/stuInfoHeader" />
		<form action="{:U('home/log/del')}" id="logForm">
			<input type="hidden" name="formhash" value="{$this->formhash()}" />
			<div class="log-wrap">
				<table border="1" cellspacing="1" cellpadding="1">
					<tr>
						<th>教育模式</th>
						<th>开始时间</th>
						<th>得分</th>
						<th>力度</th>
						<th>速度</th>
						<th>准确度</th>
						<th>音准</th>
						<th>节拍(乐感)</th>
						<th>结束时间</th>
						<th>操作</th>
					</tr>
					<!--{loop $data['list'] as $key}-->
					<tr data-id ="{$key['id']}">
						<!--{if $key['mode']==0}-->
						<td>教学模式</td>
						<!--{/if}-->
						<td>{date('Y-m-d H:i:s',$key['starttime'])}</td>
						<td>{$key['score']}</td>
						<td>{$key['intensity']}</td>
						<td>{$key['speed']}</td>
						<td>{$key['accuracy']}</td>
						<td>{$key['intonation']}</td>
						<td>{$key['beat']}</td>
						<td>{date('Y-m-d H:i:s',$key['overtime'])}</td>
						<td><a class="btn logBtn">删除</a></td>
					</tr>
					<!--{/loop}-->
				</table>
					<div class="ma-pager">
					<a href="{:U('home/log/'.$uid)}" class="btn pjax">首页</a>
					<a class="btn prev-page">上一页</a>
					<!--{for $i=1;$i <= $data['total'];$i+=1}-->
					{if $data['page'] == $i}
					<a class="btn open">第{$i}页</a>
					{else}
					<a class="btn pjax" href="{:U('home/log/'.$uid.'-'.$i)}">第{$i}页</a>
					{/if}
					<!--{/for}-->
					<a class="btn pjax next-page">下一页</a>
					<a id="next-num" href="{:U('home/log/'.$uid.'-'.$data['total'])}" class="btn pjax">尾页</a>
				</div>
				
			</div>
		</form>
	</div>
<include file="common/footer" />