
<include file="common/common" />
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
		    <a class="layui-btn search_btn" href="{:U('message/send')}">发布消息</a>
		    <a class="layui-btn layui-btn-primary">消息总数：{$nums[0]['msgs']}条</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal">未读消息：{$noread[0]['msgs']}条</a>
		</div>
		<div class="layui-inline" align="right">
		<a class="layui-btn layui-btn-danger " >已读消息：{$read[0]['msgs']}条</a>
		
	</div>
		<!-- <div class="layui-inline">
			<a class="layui-btn layui-btn-danger usersAdd_btn">添加管理员</a>
		</div> -->
		
	</blockquote>
	<div class="layui-form news_list">
	  	<table class="layui-table">
		    <thead>
				<tr>
					<th>ID</th>
					<th>消息类型</th>
					<th>发送者ID</th>
					<th>发送者Name</th>
					<th>接收者ID</th>
					<th>接收者Name</th>
					<th>标题</th>
					<th>消息时间</th>
					<th>状态</th>
					<th>内容</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="users_content">
		    <!-- {loop $data['list'] as $key} -->
		    	<tr>
					<td>{$key['id']}</td>
					<!-- {if $key['type']==0} -->
					<td>系统</td>
					<!-- {/if} -->
					<td>{$key['from']}</td>
					<td>{$key['username']}</td>
					<td>{$key['to']}</td>
					<td>{$key['realname']}</td>
					<td>{$key['title']}</td>
					<td>{date('Y-m-d H:i:s',$key['dateline'])}</td>
					<!-- {if $key['stats']==0} -->
					<td>未读</td>
					<!-- {else if $key['stats']==1} -->
					<td>已读</td>
					<!-- {/if} -->
					<td><a href="{:U('message/msgInfo/'.$key['id'])}" class="layui-btn layui-btn-mini">详情</a>	</td>
					<td>
					<a href="#" class="layui-btn  layui-btn-danger layui-btn-mini" onclick="return confirm('确认是否删除?');">删除</a>	
				</tr>
			<!-- {/loop} -->
		    </tbody>
		</table>
	</div>
<div id="page" style="text-align: center;">	
	<!--{for $i=1;$i <= $data['total'];$i+=1}-->
	{if $data['page'] == $i}
	<a class="btn checked">第{$i}页</a>
	{else}
	<a class="btn pjax" href="{:U('message/index/'.$i)}">第{$i}页</a>
	{/if}
	<!--{/for}-->
</div >
	<resource type="js" name="show" time="3">
	  <file src="admin/show" />
	</resource>
	
</body>
</html>