<include file="common/common" />
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
  <legend >
  <label style="font-size: 15px; color: red;">群发消息</label>&nbsp;
	<a class="layui-btn layui-btn-normal layui-btn-mini" href="{:U('message/index')}">返回列表</a>
  </legend>
</fieldset>	
<body class="childrenBody">
	<form id="message-form" class="layui-form" action="{:U('message/send/post')}" method="post">
  	<div class="layui-form-item">
			<label class="layui-form-label">发送者：</label>
			<div class="layui-input-block">
			<input type="text" class="layui-input " name="username" disabled value="{$_SESSION['username']}">
			<input type="hidden" value="{$this->formhash()}" name="formhash" >
			</div>
		</div>
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
  <legend align="center">接收群体</legend>
		<div class="layui-tab"  style="margin-top: 2px;">
		  <ul class="layui-tab-title">
		    <li  class="layui-this">固定账号</li>
		    <li>群组</li>
		
		  </ul> 
		  <div class="layui-tab-content" style="height: 60px;" >
		  	 <div class="layui-tab-item layui-show" style="top: 180px;">
		  	 	<br /><br />
		  	 	<div class="layui-form-item">
						<label class="layui-form-label">指定账号</label>
						<div class="layui-input-block">
							<input type="text" class="layui-input " name="to" >
						</div>
					</div>
		  	 </div>
		  	 <div class="layui-tab-item" style="top: 180px;">
		  	 		<br />
						<div class="layui-form-item">
						<label class="layui-form-label">群组</label>
						<div class="layui-input-block">
							<input type="radio"  value="all" title="全部" name="user" checked>
							<input type="radio"  value="男" title="男" name="user">
							<input type="radio"  value="女" title="女" name="user">
							<input type="radio"  value="0" title="学员" name="user">
							<input type="radio"  value="1" title="机构" name="user">
							<input type="radio"  value="2" title="家长" name="user">		
						</div>
						</div>
						<!-- <div class="layui-form-item">
							<label class="layui-form-label">普通群组</label>
							<div class="layui-input-block">
								
							</div>
						</div> -->
						
		  	 </div>
		  </div>
		</div>
	</fieldset>
	
	<fieldset class="layui-elem-field layui-field-title" >
  <legend align="center">消息部分</legend>
		<div class="layui-form-item">
			<label class="layui-form-label">消息标题</label>
			<div class="layui-input-block">
			<input type="text" class="layui-input " name="title"  placeholder="请输入标题">
			</div>
		</div>
		<div class="layui-form-item"> 
			<label class="layui-form-label">具体内容</label>
			<div class="layui-input-block">
				<textarea class="layui-textarea" name="content" form="message-form"></textarea>
			</div>
		</div>
		<label> 消息量大，请耐心等待....</label>
			<br>
			<div class="layui-progress" lay-showpercent="true">
	  		<div class="layui-progress-bar layui-bg-red" lay-percent="30%"></div>
			</div>
	
		<br>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn ">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>

	</form>
	<script src="{$this->dir}/public/js/layui/layui.js"></script>	
	<resource type="js" name="send" time="0">
	  <file src="admin/add">
</resource>
</body>
</html>