<include file="common/header" />
<div>
<i class="icon icon-pc" size="90"></i>
<i class="icon icon-android" size="90"></i>
<i class="icon icon-ios" size="90"></i>
<i class="icon icon-pad" size="90"></i>
<i class="icon icon-clear" size="22"></i>
<i class="icon icon-gender" gender="0"></i>
<i class="icon icon-gender" gender="1"></i>
<i class="icon icon-gender" gender="2"></i>
<i class="icon icon-hello"></i>
<i class="icon icon-wechat"></i>
<i class="icon icon-weibo"></i>
<i class="icon icon-right" size="90"></i>
<i class="icon icon-left" size="90"></i>
<i class="icon icon-screen" size="36"></i>
<i class="icon smile-happy" size="72"></i>
<i class="icon smile-sad" size="72"></i>
<i class="icon smile-warn" size="72"></i>
<i class="icon eye-close" size="22"></i>
<i class="icon eye-open" size="22"></i>
<i class="icon eye" size="22"></i>
<i class="icon bicon-back" size='22'></i>
<i class="icon icon-logo" size='35'></i>
</div>
<include file="common/footer" />