{if !$this->pjax}<!doctype html>
<!--[if !IE]><!--><html class="w3c" {if in_array($_G['page'],array('index'))}_manifest="{:U('home/cache/'.$_G['page'])}"{/if}><!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{isset($_G['title'])?$_G['title']:$this->lang('vs_title')} - {lang vs_name} {lang vs_version}</title>

<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no" />
<meta name="MSSmartTagsPreventParsing" content="True" />
<meta http-equiv="MSThemeCompatible" content="Yes" />

<!--针对移动端-->
<meta itemprop="name" content="VSong.view - Demo">
<meta itemprop="description" content="VSong.view - Demo">
<meta itemprop="image" content="">

<meta property="og:url" content="">
<meta property="og:type" content="article">
<meta property="og:title" content="VSong Execute - Demo">

<meta property="og:image" content="">
<meta property="og:description" content="VSong.view - Demo">
<meta property="og:site_name" content="VSong.view - Demo">

<meta name="theme-color" content="#00a09d">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#00a09d">

<resource type="css" name="subsite" time="3">
	<file src="reset" />
	<file src="global" />
    <file src="main/style" />
    <file src="subsite/style" />
</resource> 
<link rel="shortcut icon" href="{$_G['dir']}favicon.ico">
</head>
<!--<?php 	
		$db=new DB('school');
		$uid=is_numeric($_G['param'][0])?$_G['param'][0]:(isset($_G['param'][1])?$_G['param'][1]:0);
		$name=$db->field('name')->where("uid=$uid")->search(0,'name');
		$name=!empty($name)?$name:'首页';
		$_G['name']=$name;
		unset($db);
	$nav = array(
		'index'		=> $name,
		'student'	=> '学员展示',
		'about'		=> '关于我们',
	);
?>-->
<body loading="500" mod="{$_G['mod']}" page="{$_G['page']}" app="{APP}">
	<div class="fxd full" id="loading"></div>
	<header>
	<div class="warp">
		<a class="logo flt-l" href="{:U('../')}" ></a>
		<nav>
			{loop $nav as $key => $value}
			{if $key=='about'}
			<a class="btn pjax {if $_G['page'] == $key}open{/if}" href="{:U('home/'.$key.'/summary-'.$uid)}">{$value}</a>
			{else}
			<a class="btn pjax {if $_G['page'] == $key}open{/if}" href="{:U('home/'.$key.'/'.$uid)}">{$value}</a>
			{/if}
			{/loop}
		</nav>	
	</div>
	</header>
<main>
	<div id="container">
{/if}
