{if $_G['user']['uid']}
<!--{if !empty($_G['param'][1])}-->
<!--<?php
$sceneTypes = array('study'=>1,'train'=>2,'games'=>3);
$sWhere = "`type`='0'";
if(array_key_exists($_G['param'][1], $sceneTypes)){
	$sWhere .= " or `type`='".$sceneTypes[$_G['param'][1]]."'";
}
$sp = !empty($_G['param'][2])?$_G['param'][2]:1;
$sdb = new DB('scene');
$scene = $sdb->cache(3600,'scene-hd')->where($sWhere)->field('id,title,level,price')->limit(30,$sp)->select();
$msWhere = "`uid`='".$_G['user']['uid']."' and `id` in (";
foreach($scene['list'] as $key){
	if($key['price']>0)$msWhere.= $key['id'].',';
}
$msWhere = trim($msWhere,',').')';
$sdb = new DB('my_scene');
$myScene = $sdb->where($msWhere)->field('id')->search();
$scene['my'] = array();
foreach($myScene as $key)array_push($scene['my'],$key['id']);
?>-->
<nav style="margin:14px 55px auto auto;" class="nav fxd t r"><a class="btn pjax" href="{:U('/')}"><span>返回</span></a></nav>
{if $scene['length']>0}
<div class="abs" id="scene-list" total="{$scene['total']}" data-page="{$scene['page']}" data-length="{$scene['length']}" data-total="{$scene['total']}">
	<div class="vs-border"></div>
	<a class="abs fx tls prev" href="javascript:void(0);" tabindex="1"></a>
	<a class="abs fx tls next" href="javascript:void(0);" tabindex="2"></a>
	<div class="abs fx list-head"></div>
	<div class="abs fx list-main">
		<div class="list">
		{loop $scene['list'] as $key}
			{_ $key['isbuy'] = in_array($key['id'],$scene['my'])}
			<a level="{$key['level']}" data-id="{$key['id']}" isbuy="{$key['price']==0 || $key['isbuy']?1:0}">
				<div>
					<h3>{$key['title']}</h3> 
					<p>
						<span>等级：<i>{$key['level']}</i> 级</span>
						<!--
						{if $key['isbuy']}
						<span>已购买</span>
						{else}
						<span>价格：{if $key['price']>0}<i>{$key['price']}</i> 元{else}免费{/if}</span>
						{/if}
						-->
						<span>今日免费</span>
					</p>
				</div>
				<img src="{:U('../data/scene/'.$key['id'].'/thumb.jpg')}"/>
			</a>
		{/loop}
		</div>
	</div>
	<div class="abs fx list-foot"></div>
</div>
{else}
<style>#music-list{ top:0}</style>
{/if}
<!--{else}-->
<style>#music-list{ top:0}</style>
<!--{/if}-->
<style type="text/css">
body[mod="home"][page="list"] header{ display:none}
</style>
{else}
<style type="text/css">
body[mod="home"][page="list"] header{ display:block}
</style>
{/if}