<include file="common/header" />
<include file="common/scene" />
<div class="fxd fx b bgc-dark" id="music-list">
	<div class="list abs fx t colum">
	
		<a class="btn" href="javascript:void(0);">
			<div>
				<h3><span class="flt-r">Maya</span><i class="icon"></i>Funky Music</h3>
				<p><span>Lv：</span>0</p>
				<p><span>￥：</span>0 元</p>
				<p><span class="flt-r">2017-09-10</span>上传：Admin</p>
			</div>
		</a>
		<a class="btn" href="javascript:void(0);">
			<div>
				<h3><span class="flt-r">Maya</span><i class="icon"></i>Funky Music</h3>
				<p><span>Lv：</span>0</p>
				<p><span>￥：</span>0 元</p>
				<p><span class="flt-r">2017-09-10</span>上传：Admin</p>
			</div>
		</a>
		<a class="btn" href="javascript:void(0);">
			<div>
				<h3><span class="flt-r">Maya</span><i class="icon"></i>Funky Music</h3>
				<p><span>Lv：</span>0</p>
				<p><span>￥：</span>0 元</p>
				<p><span class="flt-r">2017-09-10</span>上传：Admin</p>
			</div>
		</a>
		
	</div>
	<div class="page abs fx">
		<a class="btn">首页</a>
		<a class="btn">上一页</a>
		<a class="btn open">1</a>
		<a class="btn">2</a>
		<a class="btn">3</a>
		<a class="btn">4</a>
		<a class="btn">下一页</a>
		<a class="btn">尾页</a>
	</div>
	<div class="tools abs fx b">
		<a class="btn vBox-confirm bb pjax" target="_blank" href="{:U('../game')}"><span>开始游戏</span></a>
	</div>
</div>
<!--div style="margin-top:100px;">
	<a class="btn vBox-confirm bb pjax" target="_blank" href="{:U('../game')}"><span>开始游戏</span></a>
</div-->
<include file="common/footer" />