<include file="common/header" />
<div class="summary">
	<div class="summary_head">
		<div class="summary_vs">
			<div class="title">
				<div class="mk mk_l"></div>
				<h2>西安·维颂科技</h2>
				<div class="mk mk_r"></div>
			</div>
			<p>西安维颂科技开发有限公司是一家专注于音乐教学软件开发及推广的科技型互联网企业，2016年注册于杭州市滨江区。当时为杭州维颂科技有限公司，2017年8月迁入西安，更为现名。现集一批高素质的软件开发人才，在深耕于音乐研究及音乐教学十多年的天才软件程序员的带领下，历时四年，现已完成一整套云数据音乐教学软件，创建整合各音乐培训机构的线上O2O平台。架子鼓智能教学软件2.0版正式发布，其他电子乐器教学软件在陆续开发中。探索和开发音乐线上教学的新模式是公司的发展方向，引领音乐智能教学的方向是公司的发展目标，打造音乐培训领域的航母是公司的愿景。<br></p>
			<p>“VSng系统一个音乐乐器智能化教学的软件系统。通过新颖、形象的3D动画游戏模式，引导学生提高学习兴趣和学习效率。
该系统资源库丰富，以教育为导向，将游戏模式与五线谱模式高度融合，可相互转换。将音乐数据、编程、音准、音高与节奏等音乐元素量化。
学习的同时兼具游戏性、娱乐性、引导性和趣味性。使学习者能够乐于其中、易于掌握。并且通过云数据分析，以数据、图形的方式，将孩子学习情况反馈到机构和家长端，以便对学员进行针对性的辅导。
			</p>
		</div>
		<div class="summary_talk">
			<div class="prtalk">
				<div class="pic pic_l">
					<img src="{$_G['dir']}public/images/member/prtalk.png" />
					<i class="icon_m airplane_r"></i>
					<span>家长说</span>
				</div>
				<div class="talk_cont">
					<p>孩子学音乐，三天打渔两天晒网、学费贵、没有时间陪孩子一起学，怎么办？</p>
				</div>
			</div>
			<div class="vstalk">
				<div class="vs_cont">
					<p>我们的开发团队以游戏方式引导 孩子进入学习状态，通过云数据 分析孩子的特性，并给出针对性 的教育解决方案；</br>共享教材、乐谱、模型，场景等资源库，可更换3D界面；</br>跨平台支持，并将数据图形化，将孩子特性反馈到机构和家长端。使得家长能够实时跟踪孩子的学习状况。</p>
				</div>
				<div class="pic pic_r">
					<span>维颂说</span>
					<img src="{$_G['dir']}public/images/member/vstalk.png" />
					<i class="icon_m airplane_l"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="summary_foot">
		<i></i>
		<div class="summary_mode">
			<div class="title">
				<div class="mk mk_l"></div>
				<h2>三种模式</h2>
				<div class="mk mk_r"></div>
			</div>
			<div class="mode_list">
				<div>
					<span><i class="icon_m summary-game"></i></span>
					<p>游戏模式</p>
				</div>
				<div>
					<span><i class="icon_m summary-teach"></i></span>
					<p>教学模式</p>
				</div>
				<div>
					<span><i class="icon_m summary-practice"></i></span>
					<p>练习模式</p>
				</div>
			</div>
		</div>
		<div class="summary_others">
			<div class="down">
				<p>下载维颂客户端</p>
				<ul>
					<li><a href=""><span><i class="icon_m manage-pc" size="50"></i></span><p>PC版下载</p></a></li>
					<li><a href=""><span><i class="icon_m manage-android" size="50"></i></span><p>安卓版下载</p></a></li>
					<li><a href=""><span><i class="icon_m manage-ios" size="50"></i></span><p>iPhone版下载</p></a></li>
					<li><a href=""><span><i class="icon_m manage-ipad" size="50"></i></span><p>iPad版下载</p></a></li>
				</ul>
			</div>
			<!--<div class="link">
				<p>合作链接</p>
				<ul>
					<li><a href="">链接地址</a></li>
					<li><a href="">链接地址</a></li>
					<li><a href="">链接地址</a></li>
					<li><a href="">链接地址</a></li>
					<li><a href="">链接地址</a></li>
					<li><a href="">链接地址</a></li>
				</ul>
			</div>-->
		</div>
	</div>
</div>

<include file="common/footer" />
