body{ margin:0; padding:0; overflow:hidden;}

#game-edit{ background-color:rgba(0,0,0,.5);color:#fff; text-shadow:0 0 2px #000; padding:0 15px; line-height:40px; z-index:999999999;}
#loading{ background-color:#000;}
body[stats="playing"]>#loading{ display:none;}

vsong-ui,vsong-ui .fxd{ position:fixed;}

vsong-ui{top:0; left:0; right:0; bottom:0;z-index:999999;-webkit-font-smoothing: antialiased; -webkit-user-select:none;color:#fff; font-family:"Lucida Console", "微软雅黑";}
vsong-ui progress{
	-webkit-appearance:none;-moz-appearance:none; appearance:none;vertical-align:middle;
}
/*Fonts*/
ui-progress,ui-score,ui-level,ui-user,ui-information>[key="title"]{font-family:"Comic Sans MS", cursive;color:#fff600;}
ui-progress,ui-level,ui-user,ui-information>[key="title"]{ text-shadow:0 0 2px rgba(0,0,0,.75);}
/*BG*/
ui-avatar:before,
ui-score,ui-score:before,ui-score>i,
vsong-ui>.prg,vsong-ui>.prg:before,
ui-progress>ui-info,ui-progress>ui-tempo{ background:url(game/skin-default.png) no-repeat;}
/*Level*/
ui-level{ bottom:10px; right:10px; font-size:24px; width:40px; text-align:center;}
ui-user{ right:0; top:110px; width:120px; text-transform:capitalize;text-align:center; white-space:nowrap;}
/*avatar*/
ui-avatar,ui-avatar:before{width:83px; height:83px;}
ui-avatar{ border:4px solid #fff; border-radius:50%; box-shadow:0 0 5px rgba(0,0,0,.5); background-size:cover;right:10px; top:10px;}
ui-avatar:before{ content:''; position:absolute; background-position:-274px 0; top:0; left:0;}
/*Information*/
ui-information{ bottom:20px; left:10px; font-size:16px; min-width:200px; width:25%; max-width:320px; border-radius:10px; padding:20px; background-color:rgba(0,0,0,.2);}
ui-information>[key]{ display:block; line-height:26px;}
ui-information>[key="title"]{ font-size:20px; margin-bottom:10px;}
ui-information>[key="author"]:before,
ui-information>[key="singer"]:before{ content:attr(title)': '; font-weight:100;}
/*Life and Exp*/
vsong-ui>.prg{ right:140px; width:30%; max-width:360px; border-radius:30px 0 0 30px; min-width:100px; padding:6px 20px 6px 6px; background-repeat:repeat-x; background-position-y: -405px;}
vsong-ui>.prg>progress{ width:100%; float:left;}
vsong-ui>.prg>progress::-webkit-progress-bar,vsong-ui>.prg>progress::-webkit-progress-value{border-radius:10px; }
vsong-ui>.prg>progress::-webkit-progress-bar{ background-color:#5b3112; box-shadow:0 0 3px #000 inset;}
vsong-ui>.prg>progress::-webkit-progress-value{ float:right;
background-image:-webkit-linear-gradient(top,transparent 0%,transparent 45%,rgba(0,0,0,.3) 55%,rgba(0,0,0,.3) 100%);
background-image:linear-gradient(top,transparent 0%,transparent 45%,rgba(0,0,0,.3) 55%,rgba(0,0,0,.3) 100%);
}
vsong-ui>.prg:before{ content:''; position:absolute; top:-8px; right:-26px;}
vsong-ui>ui-exp.prg:before{ width:36px; height:48px; background-position:-404px -50px;}
vsong-ui>ui-life.prg:before{ width:52px; height:45px; margin-right:-5px; background-position:-388px -99px;}
vsong-ui>ui-exp.prg{ top:17px;}
vsong-ui>ui-life.prg{ top:68px;}
vsong-ui>ui-exp.prg>progress::-webkit-progress-value{ background-color:#6FE6FF;}
vsong-ui>ui-life.prg>progress::-webkit-progress-value{ background-color:#FF575B;}
/*Progress*/
ui-progress{ top:110px; left:10px;}
ui-progress>progress{height:30px;width:280px; display:block;}
ui-progress>progress:before{ content:''; margin-top:12px; border:2px solid rgba(0,0,0,.5); position:absolute; right:15px; left:5px; height:4px; border-radius:5px; background-color:#0CF; z-index:-1}
ui-progress>progress::-webkit-progress-bar{ background-color:transparent;}
ui-progress>progress::-webkit-progress-value{ background:url(game/progress-value.png) no-repeat right; background-size:contain;}
ui-progress>ui-info,ui-progress>ui-tempo{ display:inline-block;height:20px;background-position-x:-420px;color:#0CF;}
ui-progress>ui-info{ padding-left:21px; float:left;}
ui-progress>ui-info>span{color:#fff600;}
ui-progress>ui-tempo{ float:right; background-position-y:-22px; width:48px; padding-left:18px; line-height:20px;}
/*Score*/
ui-score{width:210px; height:75px; top:10px; left:10px; padding-left:64px; padding-top:20px; line-height:44px; text-align:center;font-size:54px;text-shadow:0 3px 0 #ff8a00,0 6px 4px #2d28f2;}
ui-score:before{ content:''; position:absolute; top:9px; left:0; width:274px; height:40px; background-position-y:-99px;}
ui-score>i{ width:45px; height:53px; display:inline-block; background-position-y:-352px}
ui-score>i[n="1"]{ width:32px; background-position-x:-45px}
ui-score>i[n="2"]{ width:43px;background-position-x:-77px}
ui-score>i[n="3"]{ width:43px;background-position-x:-120px}
ui-score>i[n="4"]{ width:45px;background-position-x:-163px}
ui-score>i[n="5"]{ width:42px;background-position-x:-208px}
ui-score>i[n="6"]{ width:44px;background-position-x:-250px}
ui-score>i[n="7"]{ width:42px;background-position-x:-294px}
ui-score>i[n="8"]{ width:42px;background-position-x:-336px}
ui-score>i[n="9"]{ width:43px;background-position-x:-378px}
ui-score>i[n="."]{ width:21px;background-position-x:-420px}